<main>
    <app-navbar />
    <section class="flex justify-center">
        <div class="mt-4 w-[90vw] lg:w-[60vw] lg:border bg-white lg:shadow-sm">
            <p class="text-center bg-blue-100 text-blue-600 w-full p-2">Informations sur la communauté</p>
            @if(community){
                <section class="p-4 lg:p-8">
                    <div>
                        <div class="w-20 border rounded-full shadow-sm h-20">
                            <img [src]="community.community.photoProfil" class="rounded-full w-full h-full" alt="">
                        </div>
                        <div class="mt-4">
                            <h2 class="font-semibold text-lg"> {{community.community.name}} </h2>
                            <p class="text-sm text-gray-500"> {{community.community.ville}} </p>
                        </div>
                    </div>
                    <div class="mt-5">
                        <p>
                            {{community.community.description}}
                        </p>
                    </div>
                    <div class="mt-5">
                        <div class="flex mt-4">
                            @if (community.community.siteweb !== '') {
                                <a href="{{community.community.siteweb}}" class=" bg-gray-100 border rounded-full shadow-sm h-10 w-10 flex justify-center items-center hover:bg-blue-600 hover:text-white hover:duration-300  text-xl text-blue-600"><i class='bx bx-world'></i></a>
                            }
                            @if (community.community.linkedin !== ''){
                                <a href="{{community.community.linkedin}}" class=" bg-gray-100 border rounded-full shadow-sm h-10 w-10 flex justify-center items-center hover:bg-blue-600 hover:text-white hover:duration-300 ml-2 text-xl text-blue-600"><i class='bx bxl-linkedin-square'></i></a>
                            }
                            @if (community.community.youtube !== ''){
                                <a href="{{community.community.youtube}}" class=" bg-gray-100 border rounded-full shadow-sm h-10 w-10 flex justify-center items-center hover:bg-blue-600 hover:text-white hover:duration-300 ml-2 text-xl text-blue-600"><i class='bx bxl-youtube' ></i></a>
                            }
                            @if (community.community.github !== ''){
                                <a href="{{community.community.github}}" class=" bg-gray-100 border rounded-full shadow-sm h-10 w-10 flex justify-center items-center hover:bg-blue-600 hover:text-white hover:duration-300 ml-2 text-xl text-blue-600"><i class='bx bxl-github' ></i></a>
                            }
                            @if (community.community.whatsapp !== ''){
                                <a href="{{community.community.whatsapp}}" class=" bg-gray-100 border rounded-full shadow-sm h-10 w-10 flex justify-center items-center hover:bg-blue-600 hover:text-white hover:duration-300 ml-2 text-xl text-blue-600"><i class='bx bxl-whatsapp' ></i></a>
                            }
                        </div>
                    </div>
                </section>
            }

            <div class="p-4 lg:p-8">
                <a (click)="goBack()" class="block cursor-pointer text-blue-600">Retour</a>
            </div>
        </div>
    </section>
</main>
