<main class="flex flex-col items-center mt-5">
    <div class="flex flex-col lg:flex-row lg:items-center">
        <div class="flex justify-center p-2">
            <input type="text" [(ngModel)]="searchTerm" placeholder="Search a Community ..." class="border  rounded-md p-2 outline-none w-72  dark:text-white dark:bg-gray-900 lg:w-96">
            <button (click)="search()" class="bg-blue-600 p-2 text-white hover:bg-blue-500 hover:duration-300 ml-2 rounded-md">Search</button>
        </div>
        <div class="mt-2 lg:mt-0">
            <span class="bg-blue-100 text-blue-600 shadow-sm border p-2 flex justify-center items-center h-10 w-10 rounded-full font-semibold"> {{communities_object.length}} </span>
        </div>
    </div>
    <section class="mt-5 grid gap-4 md:grid-cols-2 lg:grid-cols-4">
       @if (isSearch) {
            @for (item of filteredObjects; track item.id) {
                <div class="border cursor-pointer p-4 w-[22rem] shadow-sm lg:w-64 rounded-xl bg-white dark:bg-gray-900 duration-300">
                    <span class="border h-12 w-12 overflow-hidden flex justify-center object-cover items-center rounded-full">
                        @if (item.community.photoProfil !== '') {
                            <img [src]="item.community.photoProfil" class="rounded-full w-full h-full" alt="">
                        } @else {
                            <i class='bx bx-link dark:text-white'></i>
                        }
                       
                    </span>
                    <div class="flex items-center mt-4">
                        <h1 class="uppercase font-semibold dark:text-white"> {{item.community.name }} </h1>
                        <span class="text-blue-600 ml-1 mt-1"><i class='bx bxs-badge-check'></i></span>
                    </div>
                    
                    <div class="flex mt-4">
                        @if (item.community.siteweb !== '') {
                            <a href="{{item.community.siteweb}}" class=" bg-gray-100 border rounded-full shadow-sm h-10 w-10 flex justify-center items-center hover:bg-blue-600 hover:text-white hover:duration-300  text-xl text-blue-600"><i class='bx bx-world'></i></a>
                        }
                        @if (item.community.linkedin !== ''){
                            <a href="{{item.community.linkedin}}" class=" bg-gray-100 border rounded-full shadow-sm h-10 w-10 flex justify-center items-center hover:bg-blue-600 hover:text-white hover:duration-300 ml-2 text-xl text-blue-600"><i class='bx bxl-linkedin-square'></i></a>
                        }
                        @if (item.community.youtube !== ''){
                            <a href="{{item.community.youtube}}" class=" bg-gray-100 border rounded-full shadow-sm h-10 w-10 flex justify-center items-center hover:bg-blue-600 hover:text-white hover:duration-300 ml-2 text-xl text-blue-600"><i class='bx bxl-youtube' ></i></a>
                        }
                        @if (item.community.github !== ''){
                            <a href="{{item.community.github}}" class=" bg-gray-100 border rounded-full shadow-sm h-10 w-10 flex justify-center items-center hover:bg-blue-600 hover:text-white hover:duration-300 ml-2 text-xl text-blue-600"><i class='bx bxl-github' ></i></a>
                        }
                        @if (item.community.whatsapp !== ''){
                            <a href="{{item.community.whatsapp}}" class=" bg-gray-100 border rounded-full shadow-sm h-10 w-10 flex justify-center items-center hover:bg-blue-600 hover:text-white hover:duration-300 ml-2 text-xl text-blue-600"><i class='bx bxl-whatsapp' ></i></a>
                        }
                        
                    </div>
                </div>
            } @empty {
                <span class="flex justify-center p-3 w-screen">
                    <p class="text-gray-500 text-center">Aucune communauté ne correspond à votre recherche</p>
                </span>
            }
       } @else {
            @for (item of communities_object; track item.id) {
                
                <div (click)="goToDetails(item.community)" class="border cursor-pointer w-[22rem] shadow-sm lg:w-64 p-4 rounded-xl bg-white dark:bg-gray-900 duration-300">
                    <span class="border h-12 w-12 overflow-hidden flex justify-center object-cover items-center rounded-full">
                        @if (item.community.photoProfil !== '') {
                            <img [src]="item.community.photoProfil" class="rounded-full w-full h-full" alt="">
                        } @else {
                            <i class='bx bx-link dark:text-white'></i>
                        }
                       
                    </span>
                    <div class="flex items-center mt-4">
                        <h1 class="uppercase font-semibold dark:text-white"> {{item.community.name}} </h1>
                        <span class="text-blue-600 ml-1 mt-1"><i class='bx bxs-badge-check'></i></span>
                    </div>
                    <div class="flex mt-4">
                        @if (item.community.siteweb !== '') {
                            <a href="{{item.community.siteweb}}" class=" bg-gray-100 border rounded-full shadow-sm h-10 w-10 flex justify-center items-center hover:bg-blue-600 hover:text-white hover:duration-300  text-xl text-blue-600"><i class='bx bx-world'></i></a>
                        }
                        @if (item.community.linkedin !== ''){
                            <a href="{{item.community.linkedin}}" class=" bg-gray-100 border rounded-full shadow-sm h-10 w-10 flex justify-center items-center hover:bg-blue-600 hover:text-white hover:duration-300 ml-2 text-xl text-blue-600"><i class='bx bxl-linkedin-square'></i></a>
                        }
                        @if (item.community.youtube !== ''){
                            <a href="{{item.community.youtube}}" class=" bg-gray-100 border rounded-full shadow-sm h-10 w-10 flex justify-center items-center hover:bg-blue-600 hover:text-white hover:duration-300 ml-2 text-xl text-blue-600"><i class='bx bxl-youtube' ></i></a>
                        }
                        @if (item.community.github !== ''){
                            <a href="{{item.community.github}}" class=" bg-gray-100 border rounded-full shadow-sm h-10 w-10 flex justify-center items-center hover:bg-blue-600 hover:text-white hover:duration-300 ml-2 text-xl text-blue-600"><i class='bx bxl-github' ></i></a>
                        }
                        @if (item.community.whatsapp !== ''){
                            <a href="{{item.community.whatsapp}}" class=" bg-gray-100 border rounded-full shadow-sm h-10 w-10 flex justify-center items-center hover:bg-blue-600 hover:text-white hover:duration-300 ml-2 text-xl text-blue-600"><i class='bx bxl-whatsapp' ></i></a>
                        }
                    </div>
                </div>
            }
       }
    </section>
 
</main>
