<main>
    <app-navbar />
    <section class="flex flex-col items-center p-2">
        <div class="flex flex-col items-center text-5xl lg:text-7xl font-bold mt-10">
            <h1 class="text-gray-800 dark:text-white">RDC Tech</h1>
            <h1 class="mt-2 text-transparent bg-gradient-to-r from-red-600 to-blue-600 bg-clip-text">Communities </h1>
        </div>
        <p class="mt-5 text-gray-700 text-lg text-center dark:text-white">The place where you find all informations about all techs communities in DRC</p>
    </section>
    
    <section>
        <app-box-communities />
    </section>
    <section class="h-32 lg:h-10 flex justify-center lg:justify-end items-center mt-3 lg:mt-0 p-6">
        <h1 class="flex flex-col lg:flex-row items-center">
            <span class="text-gray-700">Proudly made by </span>
            <a href="https://www.linkedin.com/in/likeur-off-47984327a/" class="flex justify-center items-center lg:ml-2">
                <span><img src="https://media.licdn.com/dms/image/D4D03AQFUf8XXyZiZmQ/profile-displayphoto-shrink_200_200/0/1689182733552?e=1705536000&v=beta&t=HdFEsfPX6FMrlzaa3jySKVPnckXKcyM0uJgFQ6kKLGA" width="20" class="rounded-full" alt=""></span>
                <span class="ml-2 font-semibold underline dark:text-white">Likeur off</span>
            </a>
        </h1>
    </section>

</main>
