<main>
    <app-navbar />
    <section class="flex flex-col items-center">
        <div class="flex flex-col items-center text-6xl font-bold lg:mt-20">
            <h1 class="text-gray-800">RDC Tech</h1>
            <h1 class="mt-2 text-transparent bg-gradient-to-r from-red-600 to-blue-600 bg-clip-text">Communities </h1>
        </div>
        <p class="mt-5 text-gray-700 text-lg">The place where you find all informations about all techs communities in DRC</p>
    </section>
    
    <section>
        <app-box-communities />
    </section>
</main>
